---
layout: none
---
<!doctype html><html>
<head>
	<title>/deviantart datacheck</title>
	<style>
		table{font-family:monospace;}
		th{text-align:left;}
		.odd{background:#efefef;} .even{background:#f7f7f7;}
		td{vertical-align:top;}
		
		.title,.date,.tags{max-width:10em;}
		.title{font-weight:bold;}
		pre{max-width:10em; overflow-x:scroll; margin-top:0;}
		.title,.desc-html{font-family:verdana,sans-serif; font-size:.75em;}
	</style>
</head>
<body>
	<p>lord have mercy. <b>{{site.data.gallery|size}}</b> and counting....</p>
	
	<p>links open in new tab. minor formatting adjustments made for display purposes. data reflects <em>exactly</em> what's onsite, without regard for link-pruning, altered dates (e.g. stuff uploaded late), and other nitpicky manually-edited stuff that I can edit myself later.</p>
	
	<p><b>times are correct</b> & will display as EST on live site; localhost is weird (-4h) for some reason. dw about it.</p>
	
	<table>
		<thead><tr>
			<th>link</th>
			<th>title</th>
			<th>date</th>
			<th>tags</th>
			<th>desc (raw)</th>
			<th>desc (HTML)</th>
		</tr></thead><tbody>{%for d in site.data.gallery%}<tr class="{%cycle 'odd','even'%}">
			<td class="link"><a href="https://www.deviantart.com/a-flyleaf/art/{{d.link}}" target="_blank">{{d.link}}</a></td>
			<td class="title">{{d.title}}</td>
			<td class="date">
				<pre>{{d.date|date_to_xmlschema}}</pre>
				{{d.date|date:"%Y %b %-d, %T %Z"}}
			</td>
			<td class="tags">[{%for t in d.tags%}{{t}}{%if forloop.last!=true%}, {%endif%}{%endfor%}]</td>
			<td class="desc"><pre>{{d.desc
				|replace:"<","&lt;"
				|replace:">","&gt;"
			}}</pre></td>
			<td class="desc-html">{{d.desc
				|remove:"https://www.deviantart.com/users/outgoing?"
				|remove:"<h2>Description</h2>"
			}}</td>
		</tr>{%endfor%}</tbody>
	</table>
</body>